<div class="bg-white">
  <div class="mx-auto max-w-7xl ">
    <div class="mx-auto max-w-4xl divide-y divide-gray-900/10">
      <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">Frequently asked questions</h2>
      <dl class="mt-10 space-y-6 divide-y divide-gray-900/10">
        <div class="pt-6">
          <dt>
            <button type="button" class="flex w-full items-start justify-between text-left text-indigo-600" aria-controls="faq-0" aria-expanded="false">
              <span class="text-base font-semibold leading-7">What is Market Mood?</span>
              <span class="ml-6 flex h-7 items-center">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-0">
            <p class="text-base leading-7 text-gray-600">Market Mood is a web application designed to provide comprehensive sentiment analysis of financial markets, leveraging data from multiple sources to offer insights into market trends and investor sentiment.</p>
          </dd>
        </div>

        <div class="pt-6">
          <dt>
            <button type="button" class="flex w-full items-start justify-between text-left text-indigo-600" aria-controls="faq-1" aria-expanded="false">
              <span class="text-base font-semibold leading-7">How does Market Mood collect data?</span>
              <span class="ml-6 flex h-7 items-center">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-1">
            <p class="text-base leading-7 text-gray-600">We use data from Stockdata.org to fetch real-time and historical stock data, news, and sentiment analysis. Stockdata.org is an open-source platform that provides a wide range of financial data through its APIs.</p>
          </dd>
        </div>

        <div class="pt-6">
          <dt>
            <button type="button" class="flex w-full items-start justify-between text-left text-indigo-600" aria-controls="faq-2" aria-expanded="false">
              <span class="text-base font-semibold leading-7">Is Market Mood open source?</span>
              <span class="ml-6 flex h-7 items-center">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-2">
            <p class="text-base leading-7 text-gray-600">Yes, Market Mood is built with extensibility in mind and is open-source, allowing easy integration of additional third-party APIs to enhance the data and functionality available to our users.</p>
          </dd>
        </div>

        <div class="pt-6">
          <dt>
            <button type="button" class="flex w-full items-start justify-between text-left text-indigo-600" aria-controls="faq-3" aria-expanded="false">
              <span class="text-base font-semibold leading-7">How can I contribute to Market Mood?</span>
              <span class="ml-6 flex h-7 items-center">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-3">
            <p class="text-base leading-7 text-gray-600">We welcome contributions from the community. You can visit our GitHub repository to learn more about how Market Mood works and how you can contribute.</p>
          </dd>
        </div>

        <div class="pt-6">
          <dt>
            <button type="button" class="flex w-full items-start justify-between text-left text-indigo-600" aria-controls="faq-4" aria-expanded="false">
              <span class="text-base font-semibold leading-7">What technologies are used to build Market Mood?</span>
              <span class="ml-6 flex h-7 items-center">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-4">
            <p class="text-base leading-7 text-gray-600">Market Mood is built using Sinatra, a lightweight web application framework in Ruby. It integrates various third-party APIs for data and leverages modern web technologies for a seamless user experience.</p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
